html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

/* navbar css */
.navbar {
    top: 0%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 110px;
    position: sticky;
}

.nav_content {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_content img {
    height: 110px;
}

.nav_title {
    margin-top: 32px;
    margin-left: 0;
    font-family: "Lato";
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}
/* navbar css ends */


/* speakOut button css */
.add_button {
    font-family: 'Sour Gummy';
    font-size: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 100px;
    height: 45px;
    background-color: rgb(0, 0, 0,0);
    color: #aa01ff;
    text-decoration-style: none;
    border: none;
    cursor: pointer;
    
}

.add_button:hover {
    font-size: 26px;
  }
/* speakOut button css ends*/

/* add secret form css */
.add-form {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    animation: slideIn 0.3s ease-out forwards;
    z-index: 1;
}

.close {
    position: absolute;
    color: white;
    top: 5px;
    right: 13px;
    font-size: 25px;
    transform: rotate(45deg);
    cursor: pointer;
}

.form_title {
    font-family: 'Sour Gummy';
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.form-content {
    width: 400px;
    height: 500px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    animation: fadeIn 0.2s ease-in-out;
    background-color: rgba(35, 34, 34, 0.7);
    overflow: hidden;
}

.input_content {
    padding: 10px;
    height: 400px;
}

.title {
    font-family: 'Sour Gummy';
    font-size: 18px;
    color: white;
}

.input-title {
    font-family: 'Sour Gummy';
    font-size: 15px;
    margin-top: 5px;
    width: 370px;
    height: 30px;
    margin-bottom: 10px;
}

.secret {
    font-family: 'Sour Gummy';
    font-size: 18px;
    color: white;
}

.input-secret {
    font-size: 15px;
    margin-top: 5px;
    width: 370px;
    height: 150px;
    margin-bottom: 10px;
}

.post {
    font-family: 'Sour Gummy';
    height: 35px;
    width: 150px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #aa01ff;
    color: white;
    cursor: pointer;
}



@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateZ(-100px);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* Fade-in effect for the logo */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* add secret form css ends */

/* hero-section css */

#hero-slogan{
    margin-top: 10px;
    margin-left: 25px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Just+Me+Again+Down+Here', cursive;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-self: center;
    overflow: hidden;

}

.hero {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF00FF; /* Magenta base text */
    text-shadow: 
      0 0 2.5px #aa01ff,  /* Magenta glow */
      0 0 5px #aa01ff, 
      0 0 10px #aa01ff, /* Deep purple outer glow */
      0 0 20px #aa01ff; 
  }
/* hero-section css ends*/

#data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-div{
    font-family: 'Just+Me+Again+Down+Here',cursive;
    position: static;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    max-width: 800px;
    text-align: center;
    min-block-size: 50px;
    color: white;
    overflow: hidden;
}

.new-div h4{
    font-family: "Lato";
    color: grey;
    font-size: 12px;
}

.new-div p{
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(210, 205, 205);
    font-size: 17px;
    text-align: justify;
}